.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Desktop.ini
.Trash-*
.nfs*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
node_modules/
dist/
.cache/
*.log
*.tmp
*~