@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #3F2305;
    height: 80px;
    padding-inline: 30px;
}

nav {
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: #F2EAD3;
    border-radius: 3px;
}

.logo img {
    margin-left: 120px;
    margin-right: 45px;
    margin-top: 10px;
    width: 150px;
    height: 50px;
    opacity: 1;
}

.nav-links {
    display: flex;
    gap: 20px;
    margin-right: 115px;
}

.nav-links a {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #F2EAD3;
    opacity: 1;
}

.movie-info {
    background-color: #F2EAD3;
    color: #3F2305;
    padding: 80px 120px;
    padding-left: 250px;
}

.movie-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.movie-poster {
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.movie-poster img {
    display: block;
    width: 100%;
    max-width: 340px;
    height: auto;
    object-fit: cover;
}

.movie-details {
    flex: 1;
    min-width: 300px;
    margin-top: 10px;
}

.movie-title {
    display: inline-block;
    font-size: 48px;
    font-weight: 700;
    color: #3F2305;
    line-height: 55px;
    margin-bottom: 12px;
}

.movie-year {
    display: inline-block;
    font-size: 48px;
    font-weight: 400;
    color: #A4907C;
    line-height: 55px;
    margin-left: 8px;
}

.movie-details p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 6px;
    color: #3F2305;
    max-width: 610px;
}

.movie-details strong {
    font-weight: 600;
}

.movie-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
    row-gap: 12px;
    margin-top: 12px;
}

.movie-grid .col:nth-child(2) {
    margin-left: -60px;
}

.movie-grid .col p {
    margin: 0;
    line-height: 1.3;
}

.movie-grid .col p+p {
    margin-top: 16px;
}

.movie-grid .col strong {
    display: block;
    font-weight: 700;
    margin-bottom: 4px;
}

.cast-section {
    position: relative;
    background-color: #DFD7BF;
    padding: 30px 0;
    overflow: hidden;
}

.cast-section h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #3F2305;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 260px;
}

.cast-section .ver-mais,
.reviews-section .ver-mais {
    background: #3F2305;
    color: #F2EAD3;
    font-size: 22px;
    line-height: 27px;
    font-weight: 200;
    padding: 6px 16px;
    border-radius: 20px;
    cursor: pointer;
}

.cast-card {
    text-align: center;
    padding: 5px;
    margin-right: 2px;
}

.cast-card img {
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 14px;
    display: block;
    position: relative;
    mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

.cast-card h3 {
    font-size: 20px;
    font-weight: 700;
    color: #3F2305;
}

.cast-card p {
    font-size: 18px;
    color: #3F2305;
    margin-top: 4px;
}

.owl-carousel {
    display: flex;
    align-items: center;
    padding-left: 220px;
    padding-right: 155px;
}

.owl-dots,
.owl-nav {
    display: none !important;
}

.owl-stage {
    display: flex;
    gap: 0 !important;
    margin-left: 0 !important;
}

.owl-item {
    margin: 0 !important;
    padding: 0 !important;
    width: 190px !important;
}

.cast-section::after {
    content: "";
    position: absolute;
    top: 0;
    width: 160px;
    right: 140px;
    height: 100%;
    background: linear-gradient(90deg, rgba(223, 215, 191, 0) 0%, #DFD7BF 100%);
    pointer-events: none;
    z-index: 999;
}

.reviews-section {
    background-color: #F2EAD3ff;
    padding: 30px 0;
    color: #3F2305;
    overflow: hidden;
}

.reviews-section h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #3F2305;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 260px;
}

.reviews-container {
    display: flex;
    gap: 24px;
    padding-left: 260px;
    padding-right: 260px;
    padding-bottom: 20px;
    overflow-x: auto;
    flex-wrap: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.reviews-container::-webkit-scrollbar {
    display: none;
}

.review-card {
    background-color: #DFD7BF66;
    border-radius: 10px;
    padding: 30px;
    width: 480px;
    flex-shrink: 0;
    color: #3F2305;
}

.review-card p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.review-card .author {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: 400;
}

.review-card .author strong {
    font-weight: 700;
}

.review-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-top: 15px;
    padding-top: 15px;
}

.review-footer .rating {
    font-weight: 500;
}

.review-footer .rating strong {
    font-weight: 700;
    font-size: 18px;
}

.footer {
    background-color: #3F2305;
    color: #F2EAD3;
    padding: 60px 0;
    margin-top: -5px;
}

.footer-container {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 260px;
    padding-right: 100px;
    display: flex;
    align-items: flex-start;
    gap: 120px;
}

.footer-logo img {
    width: 200px;
    height: auto;
    opacity: 0.8;
}

.footer-links {
    display: flex;
    gap: 100px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-column a {
    color: #F2EAD3;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #DFD7BF;
}

/* ===== RESPONSIVIDADE (TABLET) ===== */
@media (max-width: 1024px) {
    nav {
        padding: 0;
        justify-content: space-between;
    }

    .logo img {
        margin-left: 40px;
    }

    .menu-toggle {
        display: flex;
        color: #F2EAD3;
        margin-right: 40px;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #3F2305;
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        min-height: calc(100vh - 80px);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        font-weight: 700;
        font-size: 24px;
        color: #F2EAD3;
        transition: color 0.3s ease;
    }

    .nav-links a:hover {
        color: #ff9ecb;
    }

    .movie-info {
        padding: 60px 40px;
    }

    .movie-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .movie-poster {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .movie-poster img {
        width: 100%;
        max-width: 400px;
        height: auto;
        border-radius: 10px;
    }

    .movie-details {
        width: 100%;
        margin-top: 0;
        min-width: 100%;
    }

    .movie-title {
        font-size: 40px;
        line-height: 1.2;
        text-align: left;
    }

    .movie-year {
        font-size: 40px;
        line-height: 1.2;
        margin-left: 8px;
    }

    .movie-details p {
        max-width: none;
    }

    .movie-grid {
        gap: 24px;
        grid-template-columns: 1fr 1fr;
    }

    .cast-section h2,
    .reviews-section h2 {
        padding-left: 40px;
    }

    .owl-carousel {
        padding-left: 40px;
        padding-right: 40px;
    }

    .reviews-container {
        flex-direction: column;
        overflow-x: hidden;
        gap: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .review-card {
        width: 100%;
    }

    .cast-section::after {
        right: 0px;
        width: 100px;

    }

    .footer-links {
        gap: 250px;
    }

    .footer-container {
        padding-left: 40px;
        padding-right: 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
}

/* ===== RESPONSIVIDADE (CELULAR) ===== */
@media (max-width: 768px) {
    .logo img {
        margin-left: 20px;
    }

    .menu-toggle {
        margin-right: 20px;
    }

    .movie-info {
        padding: 40px 20px;
    }

    .movie-container {
        gap: 30px;
    }

    .movie-poster {
        width: 80%;
    }

    .movie-poster img {
        max-width: 100%;
        border-radius: 15px;
    }

    .movie-details {
        min-width: 100%;
    }

    .movie-title {
        font-size: 36px;
        text-align: center;
        line-height: 1.1;
        display: block;
        margin-bottom: 12px;
    }

    .movie-year {
        font-size: 36px;
        text-align: center;
        display: inline;
        margin-left: 8px;
    }

    .movie-details p {
        font-size: 16px;
        text-align: left;
    }

    .movie-details strong {
        display: block;
        margin-top: 15px;
    }

    .movie-grid {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .movie-grid .col:nth-child(2) {
        margin-left: 0;
    }

    .cast-section h2,
    .reviews-section h2 {
        padding-left: 20px;
        font-size: 28px;
    }

    .owl-carousel {
        padding-left: 20px;
        padding-right: 20px;
    }

    .reviews-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .review-card {
        padding: 20px;
    }

    .review-card p {
        font-size: 16px;
    }

    .footer-container {
        padding-left: 20px;
        padding-right: 20px;
        align-items: flex-start;
        gap: 40px;
    }

    .footer-links {
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
        width: 100%;
    }

    .footer-column {
        text-align: left;
        gap: 16px;
    }
}