@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "League Spartan", sans-serif;
    font-weight: 00;
    /* color: #8c2424; */
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #3F2305;
    height: 80px;
    padding-inline: 30px;
}

nav {
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: #F2EAD3;
    border-radius: 3px;
}

.logo img {
    margin-left: 120px;
    margin-right: 45px;
    margin-top: 10px;
    width: 150px;
    height: 50px;
    opacity: 1;
}

.nav-links {
    display: flex;
    gap: 20px;
    margin-right: 115px;

}

.nav-links a {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #F2EAD3;
    letter-spacing: 0;
    text-align: left;
    opacity: 1;

}

.nav-links a:hover {
    color: #ff9ecb;
}

@media (max-width: 1024px) {
    nav {
        padding: 0px;
        justify-content: space-between;

    }

    .logo img {
        margin-left: 0;
    }

    .menu-toggle {
        display: flex;
        color: #F2EAD3;
        margin-right: 0;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: #3F2305;
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        min-height: 100vh;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links a {
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        color: #F2EAD3;
        transition: color 0.3s ease;
    }

    .nav-links a:hover {
        color: #ff9ecb;
    }

}

/* ===== SEÇÃO DE INFORMAÇÕES DO FILME ===== */

.movie-info {
    background-color: #F2EAD3;
    color: #3F2305;
    padding: 80px 120px;
    padding-left: 250px;
}

.movie-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.movie-poster {
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.movie-poster img {
    display: block;
    width: 100%;
    max-width: 340px;
    height: auto;
    object-fit: cover;
}

.movie-details {
    flex: 1;
    min-width: 300px;
    margin-top: 10px;
}



.movie-title {
    display: inline-block;
    font-size: 48px;
    font-weight: 700;
    color: #3F2305;
    line-height: 55px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 12px;
}

.movie-year {
    display: inline-block;
    font-size: 48px;
    font-weight: 400;
    color: #A4907C;
    line-height: 55px;
    letter-spacing: 0;
    margin-left: 8px;
}

.movie-details p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 6px;
    color: #3F2305;
    max-width: 610px;
}


.movie-details strong {
    font-weight: 600;

}

/* Grade de informações */
.movie-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
    /* distância horizontal entre as colunas */
    row-gap: 12px;
    /* distância vertical entre blocos */
    margin-top: 12px;
}

.movie-grid .col:nth-child(2) {
    margin-left: -60px;
    /* move a segunda coluna mais pra esquerda */
}

.movie-grid .col {
    flex: 1;
    min-width: 0;
}

.movie-grid .col p {
    margin: 0;
    /* remove qualquer espaçamento extra */
    line-height: 1.3;
    /* reduz a altura da linha */
}

.movie-grid .col p+p {
    margin-top: 16px;
    /* espaço entre Dirigido/Situação/Orçamento */
}

.movie-grid .col strong {
    display: block;
    font-weight: 700;
    margin-bottom: 4px;
    /* pequeno respiro entre o título e o texto */
}

.col {
    flex: 1;
    min-width: 10px;
}

/* Responsividade */
@media (max-width: 1024px) {
    .movie-info {
        padding: 60px 40px;
    }

    .movie-container {
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: 40px;
    }

    .movie-poster img {
        width: 80%;
        max-width: 400px;
    }

    .movie-details h2 {
        text-align: center;
        width: 100%;
    }

    .movie-grid {
        flex-direction: column;
        gap: 24px;
    }
}

@media (max-width: 480px) {
    .movie-info {
        padding: 40px 24px;
    }

    .movie-details h2 {
        font-size: 32px;
    }

    .movie-details p {
        font-size: 16px;
    }
}